<% include ./partial/header%>

<% blogs.forEach(function(blog){%>
    <div class="ui container">
        <div class="ui segment text container">
            <h1 class="ui header"><%= blog.title%></h1>
            <img class="ui image rounded" style="height:300px;width200px" src="<%= blog.image%>"></img>
            <p><%= blog.created.toDateString()%></p>
            <p><%= blog.body.substring(0,30)%>...</p>
            <a href="/blogs/show/<%= blog._id%>">Read more</a>
        </div>
    </div>
<% })%>